<div class="select-wrapper">
  <mat-form-field *ngIf="productCategories$ | async as productCategories">
    <mat-label>Select category</mat-label>
      <mat-select [(ngModel)]="selectedCategory" (selectionChange)="getProducts($event)">
        @for (category of productCategories; track category) {
          <mat-option [value]="category.name">{{ category.name }}</mat-option>
        }
    </mat-select>
  </mat-form-field>
</div>
<cdk-accordion class="accordion" *ngIf="products$ | async as products">
  @for (product of products; track product) {
    <cdk-accordion-item
      #accordionItem="cdkAccordionItem"
    >
      <div class="product">
        <div class="product__name">
          Product name:
          <div>{{ product.name }}</div>
        </div>
        <div>Product price for one <span class="measurement">{{ product.measurement }}</span>: &nbsp;{{ product.price }}$</div>
        <div class="buttons">
          <button mat-raised-button (click)="deleteProduct(product.name, product.id)">Delete</button>
          <button mat-raised-button (click)="accordionItem.toggle()">
            {{ accordionItem.expanded ? 'Close' : 'Upadate' }}
          </button>
        </div>
      </div>
      <div
        class="accordion-item-body"
        [ngClass]="accordionItem.expanded ? 'open' : 'close'"
        >
        <form action="" [formGroup]="updateProductForm">
          <div>Enter new price</div>
          <mat-form-field>
            <input #priceInput type="number" min="0" matInput formControlName="newPrice">
            <mat-error *ngIf="productFormPrice.hasError('required')">This fill is required</mat-error>
            <mat-error *ngIf="productFormPrice.hasError('productPrice') && productFormPrice.value">Price can not be null or less</mat-error>
          </mat-form-field>
          <button type="submit" (click)="saveChanges(product.id)" mat-raised-button [disabled]="updateProductForm.invalid">Save</button>
        </form>
      </div>
    </cdk-accordion-item>
  }
</cdk-accordion>
