.product-list {
    height: 100%;
    display: grid;
    grid-auto-rows: 400px;
    grid-template-columns: repeat(5, 1fr);
    overflow-y: scroll;
    
    &::-webkit-scrollbar {
        display: none;
    }
}