@use '../../../assets/scss/mixins' as mix;
@use '../../../assets/scss/variables' as var;

.products {
    height: 100%;
    display: grid;
    grid-template-columns: 20% 80%;
    background: #CAEDFF;
}

.products-category {
    padding-top: 10px;
    display: grid;
    grid-auto-rows: 40px;
    overflow-y: auto;
    gap: 10px;
    
    &::-webkit-scrollbar {
        display: none;
    }
}

.product-category {
    @include mix.flex-center;
    padding: 20px;
    border: 1px solid lightgray;
    background: var.$pink;
    border-radius: 5px;
    width: 200px;
    cursor: pointer;
    @include mix.link-transition(transform);

    &--active {
        transform: translateX(20px);
    }
    
    &:hover {
        transform: translateX(20px);
    }
}

.product-list-wrapper {
    overflow: hidden;
}
