@use '../../../assets/scss/mixins' as mix;

.products {
    height: 100%;
    display: grid;
    grid-template-columns: 20% 80%;
    background: #CAEDFF;
}

.products-category {
    display: grid;
    grid-auto-rows: 40px;
    overflow-x: hidden;
    gap: 10px;

    &::-webkit-scrollbar {
        display: none;
    }
}

.product-category {
    @include mix.flex-center;
    padding: 20px;
    border: 1px solid lightgray;
    width: 200px;
    transform: translateX(0);
    @include mix.link-transition(transform);
    
    &:hover {
        transform: translateX(20px);
    }
}
