@use '../../../assets/scss/variables' as var;
@use '../../../assets/scss/mixins' as mix;
:host {
    height: 100%
}

.store {
    @include mix.grid-auto-rows(none, none, 20% 80%);
    @include mix.height100();
    background: var.$ligth-blue;
}

.products-category {
    @include mix.grid-auto-rows(40px);
    padding-top: 10px;
    overflow-y: auto;
    gap: 10px;
    
    &::-webkit-scrollbar {
        display: none;
    }
}

.product-category {
    @include mix.flex-center;
    @include mix.border-radius(5px);
    padding: 20px;
    border: 1px solid lightgray;
    background: var.$pink;
    text-transform: uppercase;
    text-decoration: none;
    width: 200px;
    cursor: pointer;
    @include mix.link-transition(transform);

    &--active {
        transform: translateX(20px);
    }
    
    &:hover {
        transform: translateX(20px);
    }
}

.product-list-wrapper {
    overflow: hidden;
}

