@use 'variables' as var;
@use 'mixins' as mix;

:host {
    height: 100%
}

.store {
    @include mix.grid-auto-rows(none, none, 20% 80%);
    @include mix.height100;
    @include mix.side-nav;
    background: var.$ligth-blue;
}

.product-list-wrapper {
    overflow: hidden;
}