<form class="product-form" action="" [formGroup]="productForm">
  <mat-form-field appearance="outline" *ngIf="productCategories$ | async as productCategories">
    <mat-label>Select category</mat-label>
      <mat-select formControlName="category">
        @for (category of productCategories; track category) {
          <mat-option [value]="category.name">{{ category.name }}</mat-option>
        }
      </mat-select>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Product name</mat-label>
    <input type="text" matInput formControlName="productName">
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Price</mat-label>
    <input type="number" matInput formControlName="price">
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Measurement</mat-label>
    <input type="text" matInput formControlName="measurement">
  </mat-form-field>
  <div class="drag-and-drop" appDragAndDrop (dropFile)="dragFile($event)"></div>
  <input (change)="selectFile($event)" #fileInput type="file" accept="image/jpeg">
  <button mat-raised-button [disabled]="productForm.invalid" (click)="addProduct()">Add product</button>
</form>