<div class="store-management">
    <div class="products-management">
        <mat-form-field *ngIf="productCategories$ | async as productCategories">
          <mat-label>Select category</mat-label>
            <mat-select (selectionChange)="getProducts($event)">
              @for (category of productCategories; track category) {
                <mat-option [value]="category.name">{{ category.name }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
          <div *ngIf="products$ | async as products">
            @for (product of products; track product) {
              <div>{{ product.name }}</div>
            }
          </div>
    </div>
    <div class="add-product">
      <div class="drag-and-drop" appDragAndDrop (dropFile)="dragFile($event)"></div>
      <input #fileInput (change)="selectFile($event)" type="file" accept="image/jpeg" >
    </div>
</div>