@use 'mixins' as mix;

.product-list {
    @include mix.grid-auto-rows(400px, none, repeat(5, 1fr));
    height: 100%;
    overflow-y: scroll;
    
    &::-webkit-scrollbar {
        display: none;
    }
}