@use 'variables' as var;
@use 'mixins' as mix;

.admin-dashboard {
    height: 100%;
    background-color: var.$ligth-blue;
}

.admin-navigation {
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    @include mix.link();
}

.admin-content {
    height: 90%;
}