<div class="profile-wrapper">
    <div class="user-info" *ngIf="user$ | async as user">
        <div>
          <div>User email: &nbsp;{{ user.email }}</div>
          <button mat-raised-button (click)="signOut()">Sign out</button>
        </div>
    </div>
    <div class="user-orders">
      <p>Your order history</p>
      <cdk-accordion multi class="accordion" *ngIf="userOrders$ | async as userOrders"> 
        @for (order of userOrders; track order) {
          <cdk-accordion-item
            #accordionItem="cdkAccordionItem">
            <div  
              (click)="accordionItem.toggle()"            
              class="accordion-item-head"
              [ngClass]="accordionItem.expanded ? 'active' : ''"
              >
              <div>{{ order.date }}</div>
              <div>
                Click to {{ accordionItem.expanded ? 'close' : 'open' }}
              </div>
            </div>
            <div
              class="accordion-item-body"
              [ngClass]="accordionItem.expanded ? 'open' : 'close'">
              @for (product of order.products; track product) {
                <div class="product-list">
                  <div>{{ product.name }}: </div>
                  <div>{{ product.count }}</div>
                </div>
                <hr>
              }
              <p>Order price: &nbsp;{{ order.totalPrice }}$</p>
            </div>
          </cdk-accordion-item>
        }
        @empty {
          <p>Empty list of orders</p>
        }
      </cdk-accordion>
    </div>
</div>