<div class="profile-wrapper">
    <div class="user-info" *ngIf="user$ | async as user">
        <div>
          <div>User email: &nbsp;{{ user.email }}</div>
          <button mat-raised-button (click)="signOut()">Sign out</button>
        </div>
    </div>
    <div class="user-orders">
        <p>Your order history</p>
        <cdk-accordion class="accordion" *ngIf="userOrders$ | async as userOrders"> 
          @for (order of userOrders; track order; let index = $index) {
            <cdk-accordion-item
              #accordionItem="cdkAccordionItem">
              <div  
                (click)="accordionItem.toggle()"            
                class="accordion-item-head"
                [ngClass]="accordionItem.expanded ? 'active' : ''"
                >
                <div>{{order.date}}</div>
                <div>
                  Click to {{ accordionItem.expanded ? 'close' : 'open' }}
                </div>
              </div>
              <div
                class="accordion-item-body"
                [ngClass]="accordionItem.expanded ? 'open' : 'close'">
                {{ order.totalPrice }}
              </div>
            </cdk-accordion-item>
          }
        </cdk-accordion>
    </div>
</div>