<form class="category-form" action="" [formGroup]="categoryForm">
    <mat-form-field appearance="outline">
        <mat-label>Category name</mat-label>
        <input #input type="text" matInput formControlName="category">
        <mat-error *ngIf="formCategory.hasError('alreadyExists')">Category already exists</mat-error>
        <mat-error *ngIf="formCategory.hasError('required')">Required</mat-error>
    </mat-form-field>
    <button (click)="addCategory()" [disabled]="categoryForm.invalid" mat-raised-button>Add category</button>
</form>