@use '../../../../../../assets/scss/variables' as var;
@use '../../../../../../assets/scss/mixins' as mix;

.product-card {
    @include mix.grid-auto-rows(none, 60% repeat(3, 10%));
    height: 100%;
    background: lightpink;
    margin: 5px 5px 0 5px;
    @include mix.border-radius(10px);
    text-align: center;
}

button {
    width: 50%;
    justify-self: center;
    background: var.$purple;
    color: var.$pink;
    @include mix.border-radius(5px);
    cursor: pointer;
    border: .7px solid rgb(77, 91, 107);
    transition: all 0.1s ease;

    &:hover {
        box-shadow: 2px 4px 2px rgb(126, 61, 139);
    }
}

img {
    @include mix.height100();
    width: 100%;
    padding: 7px;
}