@use './assets/scss/variables' as var;

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: fantasy;
   color: var.$purple;
}

html,
body {
   height: 100%;
   overflow: hidden;
}