@use '../../../assets/scss/mixins' as mix;

.basket {
    height: 100%;
    position: fixed;
    right: 0;
    bottom: 0;
    width: 300px;
    background: lightcoral;
    content: paint;

    &__toggle {
        transform: translate(-100%, calc((100vh - 100%) / 2));
        width: 40px;
        height: 40px;
        background: transparent;  
    }
}

.basket-title {
    text-align: center;
}

.purchases {
    @include mix.grid-auto-rows(30px);
    padding: 10px;
    gap: 5px;

    & .purchase {
        @include mix.grid-auto-rows(none, none, 50% 10% 40%);
        align-items: center;
        text-align: left;

        & .purchase-buttons {
            @include mix.grid-auto-rows(none, none, 40% 40%);
            gap: 10px;
        }
    }
}

button {
    font-size: 20px;
}