@use '../../../assets/scss/mixins' as mix;

.basket {
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 300px;
    background: lightcoral;
    content: paint;

    &__toggle {
        position: absolute;
        transform: translate(-100%, calc((100vh - 100%) / 2));
        width: 40px;
        height: 40px;
        background: transparent;  
    }
}

.basket-title {
    text-align: center;
}

.purchase {
    display: flex;
    align-items: center;
    text-align: left;
    padding-block-start: 7px;

    &__name {
        flex-basis: 100px;
    }

    &__count {
        flex-basis: 50px;
        text-align: center;
    }

    &__buttons {
        display: flex;
        justify-content: space-around;
        flex-basis: 150px;

        & button {
            height: 25px;
            width: 50px;
        }
    }
}

button {
    font-size: 20px;
}

.basket-content {
    height: 100%;
    scroll-padding-top: 100px;
    overflow-y: auto;
    padding: 0;
}