<div [@basket]="isOpen ? 'open' : 'close'" class="basket" >
    <img src="../../../assets/img/cart.png" alt="" (click)="toggle()" class="basket__toggle">
    <div *ngIf="purchases$ | async as purchases">
        <div *ngFor="let purchase of purchases">
            {{ purchase.product.name }}
            count: {{ purchase.count }}
            <button (click)="addPurchase(purchase.product)">+</button>
            <button (click)="decreasePurchase(purchase.product)">-</button>
        </div>
        <button *ngIf="purchases.length" (click)="openDialog()">SumUp</button>
    </div>
</div>