.basket {
    position: fixed;
    right: 0;
    top: 0;
    width: 300px;
    height: 100%;
    background: lightcoral;
    content: paint;

    &__toggle {
        transform: translate(-100%, calc((100vh - 100%) / 2));
        width: 40px;
        height: 40px;
        background: transparent;  
    }
}

.basket-title {
    text-align: center;
}

.purchases {
    padding: 10px;
    display: grid;
    grid-auto-rows: 30px;
    gap: 5px;

    & .purchase {
        display: grid;
        grid-template-columns: 50% 10% 40%;
        align-items: center;
        text-align: left;

        & .purchase-buttons {
            display: grid;
            grid-template-columns: 40% 40%;
            gap: 10px;
        }
    }
}