@use 'variables' as var;
@use 'mixins' as mix;

:host {
    @include mix.grid-auto-rows(none, 10% 90%);
    @include mix.height100();
}

.head-bar {
    @include mix.grid-auto-rows(none, none, repeat(2, 1fr));
    background-color: var.$pink;
}

.logo-div {
   display: flex;
   align-items: center;
   padding-left: 20px;

   .logo {
    font-size: 35px;
    }

    .logo:hover {
        text-shadow: 2px 2px rgb(237, 234, 198);
        transition-duration: 2s;
    }
}

.navigation {
    @include mix.flex-center();
    gap: 30px;
    @include mix.link();
}
