@mixin link-transition($property: all) {
    transition: $property 0.3s ease-in-out;
}

@mixin flex-center() {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin grid-auto-rows($auto-rows: none, $rows: none, $colums: none) {
    display: grid;
    grid-auto-rows: $auto-rows;
    grid-template-rows: $rows;
    grid-template-columns: $colums;
}

@mixin border-radius($radius) {
    border-radius: $radius;
}

@mixin height100() {
    height: 100%;
}